:root {
  --main-text-color: #757575;
  --secondary-text-color: #212121;
  --main-blue-color: #2196f3;
  --main-white-color: #ffffff;
  --background-dark-color: #2f303a;
  --background-light-color: #f5f4fa;
  --logo-black-color: #000000;
}

/* all pages */
* {
  margin: 0px;
  padding: 0px;
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
body {
  font-family: Roboto;
  color: var(--main-text-color);
}
section {
  padding-top: 94px;
  padding-bottom: 94px;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
}
img {
  display: block;
}
/* nav */
header {
  border-bottom: 1px solid #ececec;
}
.nav {
  display: flex;
  align-items: baseline;
}
.logo {
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
  color: var(--main-blue-color);
}
.logo-color {
  color: var(--logo-black-color);
}
.nav-link {
  display: inline-flex;
  margin: 0px;
  padding-left: 0px;
  margin-left: 93px;
}
.nav-link .link {
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;

  color: var(--secondary-text-color);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
}
.nav-item {
  margin-left: 50px;
}
.nav-item:first-child {
  margin-left: 0px;
}
.nav-link .link:hover,
.nav-link .link:focus {
  color: var(--main-blue-color);
}
header .container {
  display: flex;
  align-items: center;
}
.nav-contacts {
  margin: 0px;
  display: flex;
  padding-left: 0px;
  margin-left: auto;
}
.nav-contacts .contacts {
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--main-text-color);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
}
.nav-contacts .contacts:focus,
.nav-contacts .contacts:hover {
  color: var(--main-blue-color);
}
.nav-link .actual-page {
  color: var(--main-blue-color);
}

/* footer */

.footer-bcg {
  background-color: var(--background-dark-color);
  display: block;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-logo {
  display: block;
  margin-bottom: 20px;

  color: #2196f3;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
}
.footer-logo-color {
  color: var(--main-white-color);
}
.adres {
  margin-bottom: 12px;

  color: var(--main-white-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}
.list {
  display: block;
}
.footer-contacts {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}
.list li:first-child {
  margin-bottom: 12px;
}
/* index */

/* Шапка  */
.head-bcg {
  background-color: var(--background-dark-color);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
.head-text {
  width: 696px;
  margin-left: auto;
  margin-right: auto;

  color: var(--main-white-color);
  text-align: center;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 2.64px;
  text-transform: uppercase;
}
.head-button {
  width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 4px;
  border: none;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;

  background-color: var(--main-blue-color);
  color: var(--main-white-color);
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
}

/* Особливості */

.feautures {
  display: flex;
  gap: 30px;
}
.feautures .item {
  margin-bottom: 10px;
}
.feautures .list {
  width: 270px;
}
.feautures .item {
  color: var(--secondary-text-color);
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
.feautures p {
  font-size: 14px;
  line-height: 1.71;
}

/* Чим ми займаємося + Наша команда */
.pad-top {
  padding-top: 0px;
}
.img {
  display: flex;
  gap: 30px;
}
.bcg-team {
  background-color: var(--background-light-color);
}
.title {
  color: var(--secondary-text-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}
.team {
  display: inline-flex;
  gap: 30px;
}
.team .list {
  background-color: var(--main-white-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.team .item {
  color: var(--secondary-text-color);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.48px;
  text-align: center;
}
.team .block {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team p {
  margin-top: 10px;

  font-size: 16px;
  letter-spacing: 0.48px;
  text-align: center;
}

/* Portfolio  */

/* Фільтри */
.filtres {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
  gap: 8px;
}
.filtres .item {
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 6px;
  padding-bottom: 6px;

  background-color: var(--background-light-color);
  border: none;
  border-radius: 4px;
  color: var(--secondary-text-color);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.48px;
}
.filtres .item:hover,
.filtres .item:focus {
  background-color: var(--main-blue-color);
  color: var(--main-white-color);
}

/* Проєкти */

.projects {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 30px;
}
.title{
  border-bottom: 1px solid #EEE;
  border-left:  1px solid #EEE;
  border-right:  1px solid #EEE;
}
.projects .title {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 0px;
  text-align: start;
}
.projects .item {
  color: var(--secondary-text-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 1.08px;
}
.projects p {
  margin-top: 4px;

  color: var(--main-text-color);
font-size: 16px;
line-height: 1,87;
letter-spacing: 0.48px;
font-weight: 400;
}
